<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PPT2WebVSTO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PPT2WebVSTO.Properties.Settings>
            <setting name="uploadURL" serializeAs="String">
                <value>https://ppt2webuploadservice.azurewebsites.net/api/zipupload/</value>
            </setting>
        </PPT2WebVSTO.Properties.Settings>
    </applicationSettings>
</configuration>