<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PPT2WebVSTO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PPT2WebVSTO.Properties.Settings>
            <setting name="uploadURL" serializeAs="String">
                <value>https://ppt2webuploadservice.azurewebsites.net/api/upload/</value>
            </setting>
            <setting name="showURL" serializeAs="String">
                <value>https://ppt2webfrontend.azurewebsites.net/?deck=</value>
            </setting>
        </PPT2WebVSTO.Properties.Settings>
    </userSettings>
</configuration>